/*
* ===Footer style ===
*/
/* Footer style */

footer {
    text-align: center;
    background-color: white;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    position: relative;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}